


 $btn-width:90px;

.drag-updata-page {
  position: relative;
  overflow: hidden;

  .commonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 100%;
    padding: 0 20px;
  }

  .down-drag-box {
    width: 100%;
    top: 0px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: absolute;
    background: #F7F7F7;
  }

  .endReachedContainer {
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 20px 0;
  }

  .drag-updata {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .down-text {
    margin-left: 20px;
  }

  .at-load-more {
    .at-load-more__cnt {
      .at-button {
        border: none;
      }
    }
  }

  .at-fab {
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }

  .scroll-top-container {
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background: #E1E1E1;
    width: $btn-width;
    height: $btn-width;
    border-radius: $btn-width / 2;
  }
}